@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');
 
body {
    background-color: rgb(238, 236, 236);
    width: 100%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    word-spacing: .1em;
    line-height: 1.5em;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

h5 {
    font-family: 'Open Sans' sans-serif;
    font-style: italic;
}

.my-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}


.address li {
    list-style: none;
}

nav {
    height: 40px;
    padding: 8px;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    

    a {
        text-decoration: none;
        color: rgb(100, 98, 98);
        font-size: 1.3rem;
    }
}


span {
    font-weight: 800;
}

li {
    list-style: none;
}

section h3, h5, ul {
    text-align: center;
}

#certifications {
    display: flex;
    justify-content: space-evenly;
}